.p-card{
  background-color: #2e3856;
}

.flashcard-container{
  width: 40rem;
  margin-bottom: 2rem;
}


.flashcard-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
