.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;

  img{
    width: 3rem;
    height: 100%;
  }
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link  {
  background-color: #0a092d;
  color: #f6f7fb;
  border-width: 0;

}

.main{
  flex: 1;
}

.footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.5rem;
  margin-bottom: 0;
  padding: 1rem;
}
