<div class="generic-page">
  <div class="container-fluid">
    <div class="container">
      <img src="{{ logo }}" alt="Flash Focus" class="cursor-pointer" />
      <p-tabMenu
        [model]="items"
        class="custom-tabmenu cursor-pointer"
      ></p-tabMenu>
    </div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <div class="footer border-top-2">
      <!-- <div class="grid">
        <div class="col">
          <div class="text-center p-3 border-round-sm bg-primary font-bold">
            1
          </div>
        </div>
        <div class="col">
          <div class="text-center p-3 border-round-sm bg-primary font-bold">
            2
          </div>
        </div>
        <div class="col">
          <div class="text-center p-3 border-round-sm bg-primary font-bold">
            3
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
