<div class="container">
  <h2>Create a new study set</h2>
  <div class="flex justify-content-center m-4">
    <form
      (ngSubmit)="flashcardForm()"
      class="text-center border-round border-1 surface-border p-4"
    >
      <div class="formgroup-inline align-items-baseline">
        <div class="field flex align-items-center">
          <label>Question</label>
          <textarea
            type="text"
            pInputTextarea
            [(ngModel)]="flashcard.question"
            name="question"
            required
            [autoResize]="true"
          >
          </textarea>
        </div>
        <!-- <div class="flex justify-content-around align-items-center border-1"> -->
        <div class="field flex align-items-center">
          <label>Answer</label>
          <textarea
            type="text"
            pInputTextarea
            [(ngModel)]="flashcard.answer"
            name="answer"
            required
            [autoResize]="true"
          >
          </textarea>
        </div>
          <button pButton pRipple type="submit" class="p-button-success">
            Submit
          </button>
      </div>
    </form>
  </div>
</div>
