<div class="container">
  <h1>Subject: Science</h1>
  <h3>Welcome to the world of Science!</h3>

  <div class="subject-list grid">
    <div *ngFor="let flashcard of flashcards; let i = index" class="flashcard-container" >
      <div class="flashcard" [ngClass]="{ 'flipped': flashcard.isFlipped }"  (click)="toggleFlip(i)">
        <div class="m-0" id="question">
          {{ flashcard.question }}
          <div class="flex gap-3 mt-1" id="buttons">
            <p-button (onClick)="speak(flashcard.question, $event)">Speak</p-button>
          </div>
        </div>
        <div class="m-0" id="answer">
          {{ flashcard.answer }}
          <div class="flex gap-3 mt-1" id="buttons">
            <p-button (onClick)="speak(flashcard.answer, $event)">Speak</p-button>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
