<div class="container">
  <div class="banner">
    <img src="https://res.cloudinary.com/dreambssd/image/upload/v1714081511/banner_qcrnqh.jpg" alt="Blackboard" class="image" />
    <div class="text-overlay">
      <span>Experience a new era of AI-enhanced learning</span>
      <p>Flash Focus is more than flashcards: it’s the #1 global learning platform.</p>
      <div *ngIf="!isAuthenticated">
        <p-button label="Sign Up"></p-button>
      </div>
    </div>
  </div>
  <div class="feature-flashcard">
    <h1>Ace your classes with our flashcard maker</h1>
    <div class="feature-flashcard-info border-1">
      <img src="" alt="SCREENSHOT OF CARD">
      <div class="fc-info">
        <h3>Make flashcards</h3>
        <p>Creating your own set of flashcards is simple with our free flashcard maker — just add a term and definition. You can even add an image from our library. Once your flashcard set is complete, you can study and share it with friends.</p>
      </div>
    </div>
  </div>
</div>
